/* Ejemplo opcional si no usas Tailwind completo */
body {
    font-family: 'Segoe UI', sans-serif;
    transition: background 0.3s ease;
  }
  
  .card-dia {
    cursor: pointer;
    padding: 12px;
    background-color: #f3f4f6;
    border-radius: 10px;
    transition: 0.3s;
  }
  
  .card-dia:hover {
    background-color: #d8b4fe;
  }
  